<% layout("/layouts/boilerplate") %>
    <%= success %>
    <style>
    #filters {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
       
    }

    .filter:hover {
        opacity: 1;
        cursor: pointer;
    }

    .tax-info {
        display: none;
    }

    .tax-toggle {
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.5rem;
        padding: 1rem;
        margin-top: 2rem;
        margin-left: 30rem;
        display: flex;
        
    }
</style>

<div id="filters">
    <a href="/listings/beach">
        <div class="filter">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beach</p>
        </div>
    </a>
    <a href="/listings/mountain">
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountain</p>
        </div>
    </a>
    <a href="/listings/farming">
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farming</p>
        </div>
    </a>
    <a href="/listings/forest">
        <div class="filter">
            <div><i class="fa-solid fa-tree"></i></div>
            <p>Forest</p>
        </div>
    </a>
    <a href="/listings/rain">
        <div class="filter">
            <div><i class="fa-solid fa-cloud"></i></div>
            <p>Rain</p>
        </div>
    </a>
    <a href="/listings/sun">
        <div class="filter">
            <div><i class="fa-solid fa-sun"></i></div>
            <p>sunnies</p>
        </div>
    </a>
    <a href="/listings/ship">
        <div class="filter">
            <div><i class="fa-solid fa-ship"></i></div>
            <p>ship</p>
        </div>
    </a>
    
    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault" >Display Total after Taxes</label>
        </div>
    </div>
</div>


        <!-- <form action="/listings/create" method="GET">
        <button>create</button>
    </form> -->
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-1">
            <% for(let listing of alllistings){ %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card col listing-card">
                        <img src="<%= listing.image.Url %>" class="card-img-top" alt="listing.image"
                            style="height: 20rem" />
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b> <br>
                                &#8377; <%= listing.price.toLocaleString("en-IN") %> /night
                                <i class="tax-info"> &nbsp; &nbsp; +18%GST </i>
                            </p>
                        </div>

                    </div>
                </a>
                <% } %>
        </div>
         <script> 
            let taxSwitch =document.getElementById("flexSwitchCheckDefault");
            taxSwitch.addEventListener("click",()=>{
               let taxInfo = document.getElementsByClassName("tax-info");
               for(info of taxInfo){
                if(info.style.display != "inline"){
                    info.style.display = "inline";
                }else{
                    info.style.display = "none";
                }
               }
            });
        </script> 

        